.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #0f172a;
  height: 250px;

  text-align: center;
}
.footer-name {
  font-family: 'DM Sans';
  font-style: Bold Italic;
  font-size: 32px;
  color: #ffffff;
  margin-left: 20px;
  line-height: 1.4px;
}
.footer-text {
  font-family: 'DM Sans';
  font-style: 'Regular';
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.footer-icon {
  color: #ffff;
  height: 30px;
  width: 60px;
}

@media screen and (max-width: 992px) {
  .footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    height: 220px;
    padding: 20px;
  }
  .footer-logo {
    height: 30px;
  }
  .footer-name {
    font-size: 20px;
  }
  .footer-text {
    font-size: 14px;
    align-self: center;
  }
  .footer-icon {
    color: #ffff;
    height: 18.38px;
    width: 20.57px;
    margin-right: 10px;
  }
}
.footer-logo-container {
  display: flex;
  align-items: center;
}
.footer-icons-container {
  display: flex;
  align-items: center;
}
